<h1><%= @members.count %> Results</h1>

<% @members.each do |member| %>
  <ul class="member">
    <li class="name"><%= member.name %></li>
  </ul>
<% end %>

<h1>House Info</h1>
<% @house_info.each do |info| %>
  <%# this would display house info %>
<% end %>